<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Inicio"} ) %>
    <%- include('partials/header') %>
    
<body>
    <!-- <div class="banner">
        <div class="banner-slide"><img src="/img/img-prueba-1.jpg" alt="Imagen 1"></div>
        <div class="banner-slide"><img src="/img/img-prueba-2.jpg" alt="Imagen 2"></div>    
    </div> -->
    <section >                
        <h2 class="subtitulo">CARTA</Menu></h2>
<% for (product of products) { %>
        <div class="card-products">
                <a href="/products/detail/<%= product.id %>">
				<div class="card" style="width: 18rem;">
					<img src="/img/products/<%= product.image %>" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title"><%= product.name %></h5>
					  <p class="card-text"> $<%= product.price%></p>
					</div>
				  </div>
				  </a>
        </div>
        <% } %>
<a href="/products" class="btn btn-outline-secondary" > Ver todos los productos</a>

          
    </section>
    <div class="subtitulo">
        <h2>Galería</h2>
    </div>     
    <div class="gallery">        
        <img src="/img/img-prueba-1.jpg" alt="Foto 1">
        <img src="/img/img-prueba-2.jpg" alt="Foto 2">       
    </div>
    <%- include('partials/footer') %>
</body>
</html>