<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('./partials/head', {title: 'Creación de Producto'}) %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<section id="formulario">
		<article>
			<h1>Creación de producto</h1>
			<ul class="errores"></ul>
			<form class="form" action="/products" method="POST" enctype="multipart/form-data">
				<div>
					<label for="name" >Nombre del producto:</label>
					<input type="text" id="name" name="name" placeholder="Ej: Pizza 'cuatro quesos'" class="form-input"
					value="<%= locals.old && old.name ? old.name : '' %>">
					
					<% if (locals.errors && errors.name) { %>
						<div class="error-message">
							<%= errors.name.msg %>
						</div>
						<% } %>
					<span class="error"></span>
				</div>
				<div>
					<label for="price" >Precio del producto:</label>
					<input type="text" id="price" name="price" placeholder="Ej: $3000" class="form-input"
					value="<%= locals.old && old.price ? old.price: '' %>">
					<% if (locals.errors && errors.price) { %>
						<div class="error-message">
							<%= errors.price.msg %>
						</div>
						<% } %>
					<span class="error"></span>
				</div>
				<div class="">
					<label for="category" class="">Categoría:</label>
					<select name="category" id="category" class="form-input" 
					<%= locals.errors && errors.category ? 'is-invalid' : null  %>>
					<option value="">Elegí una categoría</option>
						<% allCategory.forEach(category => { %>
							<option value="<%= category.id %>"
					<%= locals.old && (category.id === old.category.id) ? 'selected' : null %>>
								<%= category.label %></option>
							<% }); %>
					</select>
					<% if (locals.errors && errors.category) { %>
						<div class="error-message">
							<%= errors.category.msg %>
						</div>
						<% } %>
						<span class="error"></span>
				</div>
				<div class="">
					<label for="description" class="form-label">Descipción:</label>
					<textarea name="description" id="description" class=""
					value="<%= locals.old && old.description ? old.description : '' %>"></textarea>
					<% if (locals.errors && errors.description) { %>
						<div class="error-message">
							<%=  errors.description.msg %>
						</div>
						<% } %>
					<span class="error"></span>
				</div>
				<div class="">
					<label for="image" class="">Imagen del producto:</label>
					<input type="file" id="image" name="image"
					value="<%= locals.old && old.description ? old.description : '' %>">
					<% if (locals.errors && errors.image) { %>
						<div class="error-message">
							<%= errors.image.msg %>
						</div>
						<% } %>
					<span class="error"></span>
				</div>
				<div class="">
					<button type="submit" class="buy-now-button">Guardar producto</button>
				</div>
			</form>
		</article>
	</section>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
	<script src="/frontValidations/products.js"></script>
</body>	
</html>