<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Todos los productos" }) %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
			<!-- Header -->
<section>
			<!-- products -->
			<h2>Todos los productos</h2>
			<% for (product of products) { %>
				<a href="/products/detail/<%= product.id %>">
				<div class="card" style="width: 18rem;">
					<img src="/img/products/<%= product.image %>" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title"><%= product.name %></h5>
					  <p class="card-text"><%= product.description %></p>
					  <% if(locals.isLogged) { %>
					  <a href="/products/productCart" class="btn btn-secondary">Añadir al carrito</a>
					  <% } else { %>
						<a href="/users/login" class="btn btn-secondary">Añadir al carrito</a>
						<% } %>
					</div>
				  </div>
				  </a>
				<% } %>
</section>
					<!-- footer -->
					<%- include('partials/footer') %>
						<!-- /footer -->

	</body>

</html>