<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Detalle de producto" }) %>

    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
            <!-- Header -->

            <!-- product detail -->
            <section>
            <h2>Detalle del producto </h2>
                <h2><%= product.name %></h2>   
                <div class="img-product">
                    <img src="/img/products/<%= product.image %>" style="width: 30vw;" alt="img-product-1">
                    <p>$<%= product.price%></p>
                    <p><%= product.description%></p>
                    <% if(locals.isLogged) { %>
                        <a href="/products/productCart" class="btn btn-secondary">Añadir al carrito</a>
                    <% } %>
                        <% if(locals.isLogged && locals.isAdmin) { %>
                <a href="/products/edit/<%= product.id%>" class="btn btn-secondary">Editar producto</a>
                        <% } %>
                
                </div>
            </section>
            <!-- footer -->
	<%- include('./partials/footer') %>
    
	<!-- /footer -->
    
    </body>

</html>