
<!DOCTYPE html>
<html lang="en">
<!--vistas parciales-->
<%- include('./partials/head', {title: "Perfil de Usuario"}) %>

<%- include('./partials/header') %>
<!--vistas parciales-->
<body>
    
   <form action="/users/<%= user.id %>" method="get">
   
     <section>
         <h2> HOLA! <%=  user.firstName  %></h2>
        <div>
            <figure>
                <img src="/img/users/<%= user.avatar%>" alt="" width="100">
            </figure>
        </div>
        <div >
            <h3><%=  user.firstName %> <%= user.lastName %></h3>
            <%  if (user.typeId) {  %>
                <p>Categoría: <%=  user.typeId %></p>
            <% }  %>
            <p>Email: <a href="<%= user.email%>" target="_blank"><%= user.email  %></a></p>
            <div>
                <a href="/users/detail/<%=user.id%>" class="btn btn-secondary">Ver detalle</a>
            </div>
        </div>
     </section>
   </form>
   <%- include('./partials/footer') %>
</body>
</html>