<!DOCTYPE html>
<html lang="en">
<!--vistas parciales-->
<%- include('./partials/head', {title: "Registro" }) %>

    <%- include('./partials/header') %>
        <!--vistas parciales-->

        <body>

            <div class="register-container">
                <h2>Registro</h2>
                <ul class="errores"></ul>
                <form class="form" id="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="firstName">Nombre</label>
                        <input type="text" id="firstName" name="firstName"
                        class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null  %>"
                            value="<%= locals.old && old.firstName ? old.firstName : '' %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <div class="error-message">
                                <%= errors.firstName.msg %>
                            </div>
                            <% } %>
                                <span class="error"></span>
                    </div>
                   
                    <div>
                        <label for="lastName">Apellido</label>
                        <input type="text" id="lastName" name="lastName"
                        class="form-control <%= locals.errors && errors.lasttName ? 'is-invalid' : null  %>"
                            value="<%= locals.old && old.lastName ? old.lastName : '' %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="error-message">
                                <%= errors.lastName.msg %>
                            </div>
                            <% } %>
                                <span class="error"></span>
                    </div>
                    
                    <div>
                        <label for="email">Correo Electrónico</label>
                     
                        <input type="email" id="email" name="email"
                        class="form-control" <%= locals.errors && errors.email ? 'is-invalid' : null  %>
                            value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error-message">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                                <span class="error"></span>
                    </div>
                    
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password">
                        <span class="error"></span>
                        <% if (locals.errors && errors.password) { %>
                            <div class="error-message">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                            
                        </div>
                        <div>
                            <label for="type" class="">Rol:</label>
                            <select name="type" id="type" class=""
                            <%= locals.errors && errors.type ? 'is-invalid' : null  %>>
                                <option value="">Elegí un rol</option>
                                <% allType.forEach(type=> { %>
                                    <option value="<%= type.id %>"
                                        <%= locals.old && (type.id === old.type.id) ? 'selected' : null %>>
                                        <%= type.label %>
                                    </option>
                                    <% }); %>
                            </select>
                            <% if (locals.errors && errors.type) { %>
                                <div class="error-message">
                                    <%= errors.type.msg %>
                                </div>
                                <% } %>
                                <span class="error"></span>
                        </div>
                    <div>
                        <label for="avatar">Imagen de perfil</label>
                        <input type="file" name="avatar" id="avatar" accept=".jpg,.jpeg,.gif,.png"
                        class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null  %>">
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="error-message">
                                <%= errors.avatar.msg %>
                            </div>
                            <% } %>
                            <span class="error"></span>
                    </div>

                    <button type="submit" id="register-button" class="yellow-button">Registrarse</button>
                </form>
                <div>
                    
                    <script src="/frontValidations/users.js"></script>

        </body>

</html>