<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Resultados de la busqueda" }) %>
</head>
<body>
    <!-- Header -->
		<%- include('./partials/header') %>
        <!-- Header -->
		<div >
				<h2>Resultados de la búsqueda: <%= //criterio %></h2>
				<div>
					<% resultSearch.forEach((product) => { %>
					<section>
						<a href="/products/productDetail/<%= product.id%>">
                            <p><%= product.name%></p>
							<figure class="product-box_image">
								<img src="/img/products/<%= product.image%>" alt="imagen de producto">
							</figure>
							<article>
								<h2> $<%= product.price%></h2>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
					<%  } ) %>				
				</div>
			<div>
				<% if(resultSearch.length == 0){ %>
				<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
				<% }; %>
			</div>
		</div>
	<!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>