<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Resultados de la busqueda" }) %>
</head>
<body>
    <!-- Header -->
		<%- include('./partials/header') %>
        <!-- Header -->
	
			
				<section>
					<% if(resultSearch.length == 0){ %>
					  <h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
					  <% } else { %>
					<h2>Resultados de la búsqueda</h2>
						<% resultSearch.forEach((product) => { %>
							<a href="/products/detail/<%= product.id %>">
								<div class="card" style="width: 18rem;">
									<img src="/img/products/<%= product.image %>" class="card-img-top" alt="...">
									<div class="card-body">
									  <h5 class="card-title"><%= product.name %></h5>
									  <p class="card-text"> $<%= product.price%></p>
									</div>
								  </div>
								  </a>
								  <%  } ) %>				
								  <% } %>
								</section>
	<!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>