<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Detalle del usuario" }) %>

    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
            <!-- Header -->

            <!-- product detail -->
            <section>
            <h2>Detalle del usuario <%= user.firstName %></h2>   
                <div>
                    <img src="/img/users/<%= user.avatar ? user.avatar : 'default.jpeg' %>">
                    
                    <h3>Nombre: <%= user.firstName%> </h3>
                    <h3>Apellido: <%= user.lastName%></h3>
                    <h3>Email: <%= user.email%></h3>
                </div>
                <a href="/users/edit/<%= user.id%>">Editar perfil</a>
            </section>
            <!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
    </body>

</html>