<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Detalle de producto"}) %>
<body>
	<!-- Header -->
    <%- include('./partials/header') %>
	<!-- Header -->

	<!-- product detail -->
    <div class="subtitulo">
        <h2>Detalle del producto <%= producto.name %></h2>
    </div>
    <div class="product-main">        
        <h2 class="product-detail-title"><%= product.name%></h2>
    </div>
    <div class="img-product">
        <img src="/img/img-prueba-1.jpg" alt="img-product-1">
    </div>
        <p>
        <span>$<%= product.price%></span>
        <b><%= product.discount%>% OFF</b>
        </p>
    
        <a class="product-add-to-cart-button" href="/productCart">Agregar al Carrito <i class="fas fa-shopping-basket"></i></a>        
        <form action="/products/delete/¿¿" method="POST" style="display: inline-flex">
            <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>
    </div>                              
</body>
</html>