<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Inicio"} ) %>
  <%- include('partials/header') %>
    
<body>
    <!-- <div class="banner">
        <div class="banner-slide"><img src="/img/img-prueba-1.jpg" alt="Imagen 1"></div>
        <div class="banner-slide"><img src="/img/img-prueba-2.jpg" alt="Imagen 2"></div>    
    </div> -->
        <h2>Carta</h2>
    
    <section >                
        <h2 class="subtitulo">MENU</Menu></h2>
    <!-- Show the "visited" products -->
    <% for (product of products) { %>
        <div>
            <section id="menu">
                <a href="/products/productDetail/<%= product.id %>">
                    <figure class="product-box_image">
                        <img src="/img/products/<%= product.image %>" alt="imagen de producto">
                    </figure>
                    <article >
                        <h2>$<%= product.price %></h2>
                        <h2><%= product.name %></h2>
                    </article>
                </a>
            </section>
        </div>
        <% } %>
<!-- /ultima visita -->
<a href="/products"> <button type="text">Ver todos los productos</button></a>

          
    </section>
    <div class="subtitulo">
        <h2>Galería</h2>
    </div>     
    <div class="gallery">        
        <img src="/img/img-prueba-1.jpg" alt="Foto 1">
        <img src="/img/img-prueba-2.jpg" alt="Foto 2">       
    </div>
    <%- include('partials/footer') %>
</body>
</html>