<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head', {title: "Todos los productos"}) %>
<body>
	<!-- Header -->
    <%- include('./partials/header') %>
	<!-- Header -->

	<!-- products -->
				<h2 >Todos los productos</h2>
			<% for (product of products) { %>
			<div>
				<section>
					
					<a href="/products/productDetail/<%= product.id %>">
						<h2><%= product.name %></h2>
						<figure class="product-box_image">
							<img src="/img/products/<%= product.image %>" alt="imagen de producto">
						</figure>
						<article >
							<h2>$<%= product.price %></h2>
							<h2><%= product.description %></h2>
							<!-- <% //if (product.discount > 0) {%>
								<span><%= //product.discount %>% OFF</span>
							<% //} %> -->
							
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
	
</body>
</html>